---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Porfolio Jose Farias">
	<main class="text-secondary">
		<!-- About me  -->
		<section class="flex ">
			<div class="border border-red-500 p-10">
				<h1 class="text-3xl font-bold">Jose Farias</h1>
				<p class="text-lg">Frontend Developer</p>
				<p class="text-lg">I'm a frontend developer with a passion for creating beautiful and functional websites. I have experience working with HTML, CSS, and JavaScript, and I'm always looking to learn new technologies and improve my skills. I'm currently looking for new opportunities to work on exciting projects and collaborate with other talented developers.</p>
			</div>
			<img src="../../public/jose.jpg" alt="" width="250" height="250">
		</section>



		<!-- Experience -->
		<section>

		</section>



		 <!-- Projects -->
		<section>

		</section>



		 <!-- Tools	 -->
		<section>

		</section>
	</main>
</Layout>