<div class=" mt-5 flex bg-gray-500/30 m-5 w-fit">
  <div class="info p-5">
    <img src="img/desktop.png" alt="" width="400">
    <h3 class="text-xl mt-5"> <slot name="title" /> </h3>
    <p class="text-md mt-2 text-pretty">
      <slot name="description"/>
    </p>
    <div class="mt-10">
        <a role="button" class="border-b border-[#d0dee2] mr-3" href="https://github.com/Glitzypanic/multidiversos-ong" target="_blank">Github</a>
        <a role="button" class=" border-b border-[#d0dee2] " href="https://multidiversos.netlify.app/" target="_blank">Live Code</a>
    </div>
  </div>
</div>
