<div class=" mt-5 flex bg-red-500/30 backdrop-blur-md m-5">
  <div class="info p-5">
    <img src="desktop.png" alt="" width="400">
    <h3 class="text-xl mt-5"> <slot name="title" /> </h3>
    <p class="text-md mt-2 text-pretty">
      <slot name="description"/>
    </p>
    <div class="mt-10">
        <a role="button" class="border-b border-black mr-3" href="">Github</a>
        <a role="button" class=" border-b border-black " href="">Live Code</a>
    </div>
  </div>
</div>
