<div></div>

<style>
    div {
        position: fixed;
        background-color: rgba(32, 32, 32, 0.1);
        background-image: url(/noise.png);
        background-repeat: repeat;
        inset: -50%;
        height: 200vh;
        pointer-events: none;
        width: 200%;
        z-index: 0;
    }

</style>