---
let src = Astro.props.src
---

<div class="bg-gray-500/30 p-3 flex justify-center lg:w-20 lg:h-20 md:w-14 md:h-16 md:items-center rounded-md">
    <img src={src} alt="icon" class="h-20 w-20">
</div>